

@import url(http://fonts.googleapis.com/css?family=Anton|Maven+Pro:500,700);



body {
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Lemonada', cursive;
    line-height: 25px;
    font-style: oblique;
  }

.pad-bottom {
    padding-bottom: 60px;
}

section {
   padding-bottom: 60px;
    padding-top: 50px;
}

.btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.set-bk-clr {
    background-color: #FFC0CB;
}

.clr-set {
    color: #FFC0CB;
}

.f-big {
    font-size: 40px;
    font-weight: 900;
}

.set-bk-clr:hover {
    background-color: rgba(107, 1, 41, 0.67);
}
/*==============================
NAVBAR STYLES
==============================*/
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #DCDCDC;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar-brand {
padding:0px;

}
    .navbar-brand img {
        height:50px;
    }
.navbar-default .navbar-toggle {
    border-color: ##000000;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: ##000000;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: rgba(0, 0, 0, 0);
    }

.navbar-default .navbar-nav > li > a {
    color: #FFC0CB
    font-weight: 900;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: ##000000;
        text-decoration: none;
    }

.navbar-default {
    background-color: #080808;;
    border-color: transparent;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding: 15px;
    -webkit-transition: background .8s ease-out,padding .8s ease-out;
    -moz-transition: background .8s ease-out,padding .8s ease-out;
    transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
    padding: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}


/* =============================================================
  HEADER SECTION STYLES
 ============================================================ */

#header {
    background: url("../img/duoslaystudio.jpg") no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    color: ##000000;

}

    #header .overlay {
        min-height: 700px;
    }

    #header h1 {
        line-height: 60px;
        font-size: 45px;
        font-weight: 900;
        padding-top: 180px;
        padding-bottom: 35px;
        color: black;
        font-family: 'Brush Script MT', sans-serif;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    #header h4 {
        line-height: 30px;
        font-size: 12px;
        padding-bottom: 40px;
        text-transform: uppercase;
    }


/*================================
    SERVICES STYLES
==================================*/
#services {
    background-color: rgba(237, 237, 237, 1);
}

    #services i {
        font-size: 80px;
        padding: 30px;
        color: #FFC0CB;
    }

    #services h4 {
        padding-bottom: 5px;
        padding-top: 15px;
    }
/* =============================================================
  CLIENTS SECTION STYLES
 ============================================================ */

#clients {
    background: url(../img/whitelogo.ico) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #clients .overlay {
        background-color: rgba(0,0,0,0.7);
        padding-top: 90px;
        min-height: 300px;
        color: #black;
        padding-top: 100px;
        padding-bottom: 100px;
    }

.clients-carousel {
    margin-top: 50px; /*SMALL TOP MARGIN FOR SPACE */
    padding: 0 30px 30px 30px;
}

    .clients-carousel .thumbnail {
        border: 1px solid #FFC0CB;
    }

    .clients-carousel .carousel-control.left {
        height: 30px;
        width: 25px;
        margin-top: 45px;
        background: #FFC0CB;
        left: -15px;
    }

    .clients-carousel .carousel-control.right {
        height: 30px;
        width: 25px;
        margin-top: 45px;
        background: #FFC0CB;
        right: -15px;
    }

    .clients-carousel img {
        width: 100%;
        height: 120px;
    }

#clients .thumbnail {
    background-color: transparent;
}

/* =============================================================
 PORTFOLIO SECTION STYLES
 ============================================================ */

/* FOR CHANGING COLOR OF ACTIVE CATEGORY */
.caegories a.active {
    background-color: #FFC0CB;
    border: 2px solid #FFC0CB;
}

/* FOR TRANSITION BEAUTIFULLY */
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#works .work-wrapper {
    border: 2px solid #FFC0CB;
    padding: 2px;
    margin: 5px 5px 10px 5px;
}

#works img {
    filter: gray; /* FOR IE6-9 */
    -webkit-filter: grayscale(1); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
    opacity: 0.8;
}

    #works img:hover {
        filter: none; /* FOR IE6-9 */
        -webkit-filter: grayscale(0); /* FOR Google Chrome, Safari 6+ and  Opera 15+ */
        opacity: 1;
    }
/* =============================================================
  TESTIMONIAL SECTION STYLES
 ============================================================ */
#testimonial {
    background: url(../img/blacklogo.png) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #testimonial .overlay {
        background-color: rgba(0,0,0,0.7);
        padding-top: 90px;
        min-height: 300px;
        color: ##000000;
        padding-top: 100px;
        padding-bottom: 100px;
    }
/* =============================================================
  TEAM SECTION STYLES
 ============================================================ */
#team {
    background-color: rgba(237, 237, 237, 1);
}

.media img {
    margin-right: 40px;
    max-height: 150px;
    margin-bottom: 20px;
    border: 2px solid #FFC0CB;
}

    .media img:hover {
        opacity: 0.6;
    }
/* =============================================================
  CONTACT SECTION STYLES
 ============================================================ */
#contact {
    background: url(../img/background.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}

    #contact .overlay {
        background-color:rgb(192,192,192);opacity:0.6;
        padding-top: 90px;
        min-height: 300px;
        color: ##000000;
        padding-top: 100px;
        padding-bottom: 100px;
    }

/* Instagram icon */
    .fa-instagram {
  color: pink;
}
  .fa:hover {
    opacity: 0.7;
    color:black;
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
/* =============================================================
  FOOTER SECTION STYLES
 ============================================================ */

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgba(237, 237, 237, 1);
}

    footer a, footer a:hover {
        color: #000;
        text-decoration: none;
    }




    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
     *, *:before, *:after {
    	 box-sizing: border-box;
    }
    .container1 * {
	 font-family: Arial, sans-serif;
   min-height: 50vh;
	 min-width: 80vw;
	 display: flex;
	 justify-content: center;
   padding-bottom: 0px;
    padding-top: 100px;
}
 .container1 .neon-text {
	 position: relative;
	 font-family: 'Pacifico', cursive;
	 text-transform: uppercase;
	 font-size: 110px;
	 color: #fa99e2;
	 -webkit-text-stroke-width: 5.5px;
	 -webkit-text-stroke-color: #f537c6;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 text-shadow: 0 0 40px #f537c6, 0 0 40px #f537c6, 0 0 40px #f537c6;
}
 .container1 .neon-text:after {
	 content: 'duoslaystudio';
	 z-index: -1;
	 position: absolute;
	 color: transparent;
	 -webkit-text-stroke-width: 5.5px;
	 -webkit-text-stroke-color: #440334;
	 top: -5%;
	 left: -0.5%;
}
